@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@import "tailwindcss";


html, body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

/* ألوان الباليت بتاعتك */
:root {
  --background: #F1F3E0;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #A1BC98;
  --color-secondary: #D2DCB6;
  --color-light: #F1F3E0;
  --color-dark: #5F6F61;
  --color-muted: #778873;
}



